<div class="newsitemwrap" >
  <a href="{link}"><figure class="tint">
<img src="{articleintroimageurl}" class="intimage"  />
</figure></a>
<div class="newstext">
<h4><a class="titlelink" href="{link}">{title}</a></h4>
<p class="article-info">{date} - {author}</p>
<p class="article-intro">{introtext}</p>

<ul class="tt-wrapper">
<li><a href="{link}" class="first"><img src="images/readmore1.png" /><span>Read More</span></a></li>
<li><a href="{link}" class="middle"><img src="images/comments1.png" /><span>{comments} Comments</span></a></li>
<li><a href="{link}" class="last"><img src="images/hits1.png" /><span>{hits} Hits</span></a></li>
</ul>
</div>
</div>