<div class="contactwrap">

<i class="icon-home"></i>&nbsp;&nbsp;{address},&nbsp;{suburb},&nbsp;{state}<br>	
<i class="icon-phone"></i>&nbsp;&nbsp;{telephone}<br>
<i class="icon-print"></i>&nbsp;&nbsp;{fax}<br>	
<i class="icon-envelope"></i>&nbsp;&nbsp;{email_to}


<br />

<div class="contactwrap1">


<span class="circle1"><i class="icon- icon-facebook"></i></span> 



<span class="circle1"><i class="icon- icon-twitter"></i></span> 



<span class="circle1"><i class="icon- icon-google-plus"></i></span>



<span class="circle1"> <i class="icon- icon-linkedin"></i></span>



</div>

</div>